{% extends 'base.html' %}

{% block title %} 

Kaydol 

{%endblock%}


{%block content %}

<section style="background-color: greenyellow;height: 100vh;">
    <div class="container" style="height: 90%;">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
             <form action="" method="POST">
                <label style="font-size: 2rem;" for="name">Ad</label> <br>
                <input style="font-size: 3rem;"type="text"> <br>
                <label style="font-size: 2rem;"for="surname">Soyad</label> <br>
                <input style="font-size: 3rem;"type="text"> <br>
                <label style="font-size: 2rem;"for="email">Email</label> <br>
                <input style="font-size: 3rem;"type="text"> <br>
                <label style="font-size: 2rem;"for="password">Parola</label> <br>
                <input style="font-size: 3rem;"type="password"> <br><br>
                <button style="font-size: 2rem;"type="submit">Kaydol </button>
            </form>
        </div>
    </div>
</section>

{%endblock%}