{% extends 'base.html' %}

{% block title %} 
 
Pizza Order   

{%endblock%}


{%block content %}
<div
  class="bg-image"
  style="
    background-image: url('https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg');
   
  width: 960px;
  height: 400px;
  border: 2px solid;
  
  " 
></div>

<form action="/update_one/{{ record_to_update.id }}" method="POST">
    {{form.hidden_tag()}}
    <!--secret keyin buradakii karsiligi -->

    {{form.name.label}}<br />
    {{form.name}} <br />
    <br />
    {{form.email.label}}<br />
    {{form.email}} <br />
    <br />
    {{form.many.label}}<br />
    {{form.many}} <br />
    <br />
    {{form.dough.label}}<br />
    {{form.dough}} <br />
    <br />
    {{form.date.label}}<br />
    {{form.date}} <br />
    <br />
    {{form.time.label}}<br />
    {{form.time}} <br />
    <br />
    {{form.image.label}}<br />
    {{form.image}} <br />
    <br />
    {{form.debit_card.label}}<br />
    {{form.debit_card}} <br />
    <br />

    {{form.additional_notes.label}}<br />
    {{form.additional_notes}} <br />

 


    <br />
    {{ form.submit}}

    <br />
    {% if name_entered %}
    Girdiğiniz isim : {{name_entered}}
    {% endif %}


{%endblock%}
